/*roots and utils*/
@font-face {
  font-family: 'Effra';
  src: url('fonts/Effra\ Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Effra';
  src: url('fonts/Effra\ Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
  
@font-face {
  font-family: 'Effra';
  src: url('fonts/Effra\ Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
  
@font-face {
  font-family: 'Effra';
  src: url('fonts/Effra\ Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
  
@font-face {
  font-family: 'Effra en';
  src: url('fonts/effra.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0000-00FF; 
}
:root{
  --color-light: #F9F9F9;
  --color-steam: #F2F8FF;
  --color-corp: #3E308B;
  --color-red: #D3383C;
  --shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.1);
}
body {
  font-family: 'Effra', 'Effra en',  sans-serif;
}
a{
  color: inherit;
  text-decoration: none;
}
.bg-light-grey{
  background: var(--color-light);
}
.bg-steam{
  background: var(--color-steam);
}
.bg-corp{
  background: var(--color-corp);
}
.box-shadow{
  box-shadow: var(--shadow);
}
.form-control:focus {
  background-color: var(--color-light);
  border-color: unset;
  box-shadow: none;
}
.btn:hover {
  background-color: var(--color-light);
}
.btn-corp{
  background: var(--color-corp);
  color: white;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  padding: 10px;
  width: 250px;
  border-radius: 16px;
}
.dropdown-toggle::after{
  display: none;
}
.navbar-toggler:focus{
  box-shadow: none;
}
.navbar-toggler{
  border: none;
}
.text-balance{
  text-wrap: balance;
}
.text-red{
  color: var(--color-red);
}
.text-corp{
  color: var(--color-corp);
}
.w-fit-content{
  width: fit-content;
}
.w-lg-80{
  width: 80%;
}
.fs-big{
  font-size: clamp(1.75rem, -0.9063rem + 8.5vw, 3.875rem);
}
.fs-title{
  font-size: clamp(1.375rem, 1rem + 1.875vw, 3.25rem);
}
.fs-title-2{
  font-size: clamp(1.125rem, 1.075rem + 0.25vw, 1.375rem);
}
.fs-paragraph{
  font-size: clamp(1.125rem, 0.9688rem + 0.5vw, 1.25rem);
}
.fs-paragraph-2{
  font-size: clamp(1rem, 0.825rem + 0.875vw, 1.875rem);
}
/*main styles*/
.nav-link{
  font-size: clamp(1.125rem, 1.1rem + 0.125vw, 1.25rem);
  color: black;
}
.dropdown-menu{
  border-radius: 16px;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
  border: none;
}
.servises-icons-bg{
  background: var(--color-corp);
  padding: 35px;
  border-radius: 50%;
}
.servises-icons{
  width: 74px;
}
.slider-btn-box{
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
/*breackpoints*/

@media(max-width: 1400px){
  .logo{
    width: 100px;
  }
}
@media (min-width: 992px) {
  .gap-lg-6 {
    gap: 5rem !important;
  }
  .g-lg-6, .gy-lg-6 {
    --bs-gutter-y: 5rem;
}
}
@media(max-width: 990px){
  .w-lg-80{
    width: 100%;
  }
}
@media(max-width: 576px) {
  .logo {
    width: 80px;
  }
  .dropdown-item {
    text-wrap: wrap !important;
  }
  .btn-corp{
    width: 200px;
    padding: 5px 10px;
  }
}