/*roots and utils*/
@font-face {
  font-family: 'Effra';
  src: url('fonts/Effra\ Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Effra';
  src: url('fonts/Effra\ Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
  
@font-face {
  font-family: 'Effra';
  src: url('fonts/Effra\ Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
  
@font-face {
  font-family: 'Effra';
  src: url('fonts/Effra\ Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
  
@font-face {
  font-family: 'Effra en';
  src: url('fonts/effra.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0000-00FF; 
}
:root{
  --color-light: #F9F9F9;
  --color-steam: #F2F8FF;
  --color-corp: #3E308B;
  --color-corp-light: #474F8F;
  --color-red: #D3383C;
  --color-red-2: #BA5251;
  --color-dirty-pink: rgba(186, 82, 81, 0.3);
  --shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.1);
  --shadow-2: 0 15px 25px 0 rgba(0, 0, 0, 0.1);
}
body {
  font-family: 'Effra', 'Effra en',  sans-serif;
}
a{
  color: inherit;
  text-decoration: none;
}
.bg-light-grey{
  background: var(--color-light);
}
.bg-steam{
  background: var(--color-steam);
}
.bg-corp{
  background: var(--color-corp);
}
.bg-corp-light{
  background: var(--color-corp-light);
}
.box-shadow{
  box-shadow: var(--shadow);
}
.box-shadow-2{
  box-shadow: var(--shadow-2);
}
.form-control:focus {
  background-color: var(--color-light);
  border-color: unset;
  box-shadow: none;
}
.btn:hover {
  background-color: var(--color-light);
}
.btn-corp{
  background: var(--color-corp);
  color: white;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  padding: 10px;
  width: 250px;
  border-radius: 16px;
}
.btn-red{
  background: var(--color-red);
}
.btn-transparent{
  background: transparent;
  outline: 2px solid var(--color-corp);
  color: var(--color-corp);
}
.btn-transparent:hover{
  background: var(--color-corp);
  color: white;
  outline: unset;
}
.dropdown-toggle::after{
  display: none;
}
.navbar-toggler:focus{
  box-shadow: none;
}
.navbar-toggler{
  border: none;
}
.text-balance{
  text-wrap: balance;
}
.text-red{
  color: var(--color-red);
}
.text-red-2{
  color: var(--color-red-2);
}
.text-corp{
  color: var(--color-corp);
}
.text-corp-light{
  color: var(--color-corp-light);
}
.w-fit-content{
  width: fit-content;
}
.w-lg-80{
  width: 80%;
}
.w-lg-60{
  width: 60%;
}
.fs-big{
  font-size: clamp(1.75rem, -0.9063rem + 8.5vw, 3.875rem);
}
.fs-title{
  font-size: clamp(1.375rem, 1rem + 1.875vw, 3.25rem);
}
.fs-title-2{
  font-size: clamp(1.125rem, 1.075rem + 0.25vw, 1.375rem);
}
.fs-title-3{
  font-size: clamp(1.125rem, 0.725rem + 2vw, 3.125rem);
}
.fs-title-4{
  font-size: clamp(1.5rem, 1.325rem + 0.875vw, 2.375rem);
}
.fs-paragraph{
  font-size: clamp(1.125rem, 0.9688rem + 0.5vw, 1.25rem);
}
.fs-paragraph-2{
  font-size: clamp(1rem, 0.825rem + 0.875vw, 1.875rem);
}
.fs-paragraph-3{
  font-size: clamp(1rem, 0.925rem + 0.375vw, 1.375rem);
}
.fs-paragraph-4{
  font-size: 16px;
}
.fs-paragraph-5{
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
}
.dropdown-item.active, .dropdown-item:active {
  color: white;
  text-decoration: none;
  background-color: var(--color-corp-light);
}
/*main styles*/
.nav-link{
  font-size: clamp(1.125rem, 1.1rem + 0.125vw, 1.25rem);
  color: black;
}
.dropdown-menu{
  border-radius: 16px;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
  border: none;
}
.servises-icons-bg{
  background: var(--color-corp);
  padding: 35px;
  border-radius: 50%;
}
.servises-icons{
  width: 74px;
}
.slider-btn-box{
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.text-box{
  position: absolute;
  color: white;
  top: 50%;
  transform: translateY(-50%);
}
.advantages-img{
  height: 500px;
}
.right-line{
  position: relative;
}
.right-line::after{
  position: absolute;
  height: 110px;
  width: 4px;
  content: '';
  background: white;
  top: 50%;
  right: -25%;
  transform: translateY(-50%);
}
.swiper {
  width: 100%; /* Задай нужную ширину */
  height: 600px; /* Задай нужную высоту */
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  height: auto;
}
.slider-btn-box-2{
  right: 0;
}
.accordion-button:not(.collapsed) {
	background-color: unset;
	background: var(--color-corp-light);
	color: white;
}

.accordion-button:focus {
	box-shadow: none;
}

.accordion-collapse.collapse.show {
	box-shadow: -1px 3px 12px 6px rgba(0, 0, 0, 0.25);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.accordion-item {
	border: none;
	border-radius: 20px;
}

.accordion-button.collapsed {
	background: #f6f7f8;
	border-radius: 20px;
}

.accordion-item:first-of-type>.accordion-header .accordion-button,
.accordion-item .accordion-header .accordion-button {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.accordion-button:not(.collapsed)::after {
	filter: contrast(0%) brightness(2);
}

.form-control {
	border: none;
	border-bottom: 2px solid rgba(0, 0, 0, 0.7);
	border-radius: 0;
	padding-left: 0;
}

.form-control::placeholder {
	color: rgba(0, 0, 0, 0.2);
	font-weight: 300;
}

.form-control:focus {
	box-shadow: unset;
	border-color: black;
}

.form-check-input:checked {
	background-color: black;
	border-color: black;
}

.form-check-input:focus {
	box-shadow: none;
}
footer{
  box-shadow: 0 -10px 40px 0 rgba(0, 0, 0, 0.1);
}
.social-link{
  background:var(--color-corp);
  padding: 4px 10px;
  border-radius: 50%;
  color: white;
}
.bg-logo{
  right: 0;
  top: 0;
  /* transform: translateY(-50%); */
  height: 100%;
}
.slider-btn-box-3{
  right: 15%;
  top: -30%;
}
.person-img{
  bottom: 0;
  right: 5%;
  height: 450px;
}
.mt-custom{
  margin-top: 80px;
}
.form-section {
  display: none;
}
.bg-logo-2{
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.breadcrumb{
  --bs-breadcrumb-divider: '>';
}
.hover-red{
  background: var(--color-steam);
}
.servises-icon{
  width: 130px;
  height: 120px;
}
.hover-red-card{
  height: clamp(300px, 30vw, 550px);
  transition: all 0.3s ease;
  background: var(--color-steam);
}
.hover-red-card img{
  filter: invert(50%) opacity(80%);
  transition: all 0.3s ease;
}
.hover-red-card:hover{
  background: var(--color-dirty-pink);
}
.hover-red-card:hover img{
  filter: unset;
}
.breadcrumb-header{
  height: clamp(220px, 30vw, 350px);
}
.number-element{
  height: fit-content;
  padding: 1px 15px;
  background: var(--color-corp);
  color: white;
  border-radius: 50%;
}
/*breackpoints*/

@media(max-width: 1400px){
  .logo{
    width: 100px;
  }
}
@media(max-width: 1200px){
  .person-img{
    right: 0;
    height: 400px;
  }
}
@media (min-width: 992px) {
  .gap-lg-6 {
    gap: 5rem !important;
  }
  .g-lg-6, .gy-lg-6 {
    --bs-gutter-y: 5rem;
}   

}
@media(max-width: 990px){
  .w-lg-80{
    width: 100%;
  }
  .swiper {
    width: 100%;
    height: 200px;
}
.slider-btn-box-2{
  right: unset;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.slider-btn-box-3{
  right: unset;
  top: unset;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25%;
}
.mt-custom{
  margin-top: unset;

}
.bg-logo{
  height: 100px;
  top: 5%;
}
.w-lg-60{
  width: 100%;
}
.bg-logo-2{
  top: 5%;
  transform: unset;
  right: 5%;
  height: 80px;
}
.container-p-custom{
  padding: 0 !important;
}
.number-element{
  padding: 1px 10px;
}
.icons-pages{
  width: 37px;
}

}
@media(max-width: 576px) {
  .logo {
    width: 80px;
  }
  .dropdown-item {
    text-wrap: wrap !important;
  }
  .btn-corp{
    width: 200px;
    padding: 5px 10px;
  }
  .advantages-img{
    height: 300px;
  }
}